@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  gap: 40px;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 160px;
  width: 100%;
}

.container h1 {
  margin-left: 20px;
  -webkit-text-stroke: 1px #3ca9ff;
  color: white;
}

.headerInput {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 10%;
  margin-left: 40px;
}
.headerInput .contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background: linear-gradient(
    to right,
    rgba(135, 206, 250, 1),
    rgba(255, 235, 59, 1)
  );
  border-radius: 20px;
  width: 50%;
  height: 100%;
  padding: 10px;
  color: black;
}

.headerInput .contain input {
  width: 74%;
  height: 70%;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  outline: none;
}

.headerInput input::placeholder {
  padding: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: 62vh;
  width: 95vw;
  border: 2px solid rgba(255, 255, 255, 0.2);
  overflow-x: auto;
  color: #000;
  border-radius: 10px;
  margin: 0 40px;
  background: linear-gradient(
    to right,
    rgba(135, 206, 250, 1),
    rgba(255, 235, 59, 1)
  );
}


.gameTable {
  border-collapse: collapse;
  width: 100%;
  z-index: 1;
}

.gameItem {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 20%;
  text-overflow: ellipsis;
}

.gameItemPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8px;
  text-align: center;
}
.gameItemPrice button:hover:nth-child(2){
background-color: red;
color:white
}
.tableHeader {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 110px;
  color: white;
}
.gameItemC {
  padding: 8px;
  text-align: center;
}

.wrapper h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  z-index: 1;
}

.wrapper h2 {
  font-size: 24px;
  color: white;
  text-align: center;
  z-index: 1;
}

.btnEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
}
.btnEdit:hover {
  transition: linear 0.3s;
  background-color: white;
  color: #003af6;
}

.boxModalG {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to right,
    rgba(135, 206, 250, 1),
    rgba(255, 235, 59, 1)
  );
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.45);
  padding: 10px;
}
.boxModalG .buttonCl {
  display: flex;
  justify-content: end;
}
.boxModalG .buttonCl button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.boxModalG form {
  display: flex;
  flex-direction: column;
}
.boxModalG form input {
  display: flex;
  background-color: white;
  justify-content: end;
  align-items: center;
  width: 65%;
  color: black;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  border: none;
}
.boxModalG form .buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.boxModalG form .buttonForm button {
  width: 30%;
  margin-bottom: 10px;
}

.boxModalG form .sectionForm {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.boxModalCG {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to right,
    rgba(135, 206, 250, 1),
    rgba(255, 235, 59, 1)
  );
  width: 60%;
  height: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.45);
  padding: 20px;
  overflow-x: auto;
}
.boxModalCG .buttonCl {
  display: flex;
  justify-content: end;
}
.boxModalCG .buttonCl button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.boxModalCG form {
  display: flex;
  flex-direction: column;
}
.boxModalCG form input {
  display: flex;
  background-color: white;
  justify-content: end;
  align-items: center;
  width: 100%;
  color: black;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  border: none;
}
.boxModalCG form .buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.boxModalCG form .buttonForm button {
  width: 30%;
}

.boxModalCG form .sectionForm {
  display: flex;
  margin-bottom: 40px;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.boxModalCG form .sectionForm .divider {
  display: flex;
  width: 100%;
  gap: 15px;
}
.boxModalCG form .sectionForm .divider:nth-child(2) {
  justify-content: center;
}
.boxModalCG form .sectionForm input {
  height: 80%;
  width: 90%;
}
.boxModalCG form .sectionForm textarea {
  background-color: white;
  height: 100px;
  width: 90%;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  border: none;
  resize: none;
  color: black;
}
.boxModalCG form .sectionForm select {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  border: none;
  resize: none;
  color: black;

}

.errorMessage h1 {
  margin-top: 100px;
}

@media (max-width: 1400px) {
  .container h1 {
    font-size: 30px;
  }
  .container {
    margin-top: 160px;
  }
  .wrapper {
    height: 60vh;
    width: 94vw;
  }
  .headerInput {
    width: 94%;
    height: 15%;
  }
  .headerInput .contain {
    width: 50%;
    height: 80%;
  }
  .headerInput .contain input{
    height: 40px;
    width: 65%;
  }
  .boxModalCG {
    height: 90vh;
  }
  .tableHeader {
    height: 80px;
  }
  .boxModalG form .sectionForm{
    padding: 20px;
  }
  .boxModalG form .sectionForm input {
    height: 50px;
  }
}
