@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 20px 20px;
  background: #ffeb3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
}
header .logo h2 {
  -webkit-text-stroke: 1px #3ca9ff;
  color: white;
  font-size: 2em;
  user-select: none;
}
header img {
  height: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 40px;
}
.navigation .btnLogin {
  width: 160px;
  text-align: center;
  background: #333;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.0em;
  color: white;
  font-weight: 500;
}
.navigation .btnLogin:hover {
  transition: linear 0.3s;
  background-color: white;
  color: #003af6;
}

.navigation a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

@media (max-width: 1400px) {
  header {
    height: 14%;
  }
}
