/* Otros estilos */

.principalContainer {
  background-color: white;
  color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
}

.cuadroAmarillo {
  background-color: #ffeb3b;
  width: 100%;
  height: 330px;
  position: relative;
  margin-bottom: -1px;
}

.iconoBolsa {
  position: absolute;
  top: -55%;
  left: 45%;
  width: 100px; /* Ajusta el tamaño del icono según sea necesario */
  height: 100px;
  z-index: 2; /* Hace que el icono esté sobre el fondo difuminado */
}

.fondoDifuminado {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  background: linear-gradient(
    to right,
    rgba(135, 206, 250, 1),
    rgba(255, 235, 59, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 10px;
  padding: 50px;
}

.contenido {
  color: #333;
  text-align: center;
}

.inputsContainer {
  display: flex;
  width: 60vi;
}

.inputsContainer input {
  width: 50%;
  margin-right: -1px;
  border-style: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.inputsContainer select {
  width: 20%;
  margin-right: auto;
  border-style: none;
  border-left-style: double;
  border-color: #c4c3c3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inputsContainer input,
.inputsContainer select {
  background-color: white;
  color: black;
  padding: 10px;
}

.buscarBtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  height: 50px;
}
.buscarBtn:hover {
  transition: linear 0.3s;
  background-color: white;
  color: #003af6;
}

.productosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  padding: 50px;
}

.productoCard {
  border: 1px solid #ddd;
  padding: 15px;
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.productoCard img {
  max-width: 100%;
  height: 30%;
  object-fit: contain;
}

.ultimosProductosContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.contenidoUltimosProductos {
  flex-grow: 1;
  background-color: #ffff; /* Blanco */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-left: 2px;
  border-left-color: rgba(135, 206, 250, 1);
  border-left-style: outset;
  margin-bottom: 20px;
}

.botonAzul {
  background-color: rgb(61, 116, 150); /* Azul */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.primero {
  margin-right: 2px;
}

/* Nuevos estilos para la tarjeta de producto */
.productoCardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.productoCardContent h4 {
  font-weight: bold;
}

.productoCardContent p.descripcion {
  color: #777;
  font-size: 14px;
}

.productoCardContent p.categoria {
  color: #007bff; /* Color azul */
  margin-top: 5px;
}

.productoCardContent p.precio {
  font-weight: bold;
}

.productoCardContent hr {
  border: 0.5px solid #ddd;
  margin: 10px 0;
}

.resenaContainer {
  display: flex;
  gap: 5px;
  align-items: center; /* Alinea verticalmente los elementos */
}

.resena {
  margin-right: 6px; /* Ajusta el espacio entre el texto y la estrella */
}
.containerCR {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.iconoEstrella {
  height: 14px;
  width: 14px;
  fill: #ffeb3b;
}

.categoria {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.precio {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  vertical-align: baseline;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 235, 59, 1) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 235, 59, 1);
  border-radius: 40px;
}

@media (max-width: 1400px) {
  .productosContainer {
    padding: 40px;
  }
  .iconoBolsa {
    top: -42%;
    width: 80px; /* Ajusta el tamaño del icono según sea necesario */
    height: 80px;
  }
}
